/ Responsive nav
%ul.altMenu
  %li
    %a{:href => "index.html", :title => ""} Dashboard
  %li
    %a#current.exp{:href => "ui.html", :title => ""} UI elements
    %ul
      %li
        %a{:href => "ui.html"} General elements
      %li
        %a{:href => "ui_icons.html"} Icons
      %li
        %a{:href => "ui_buttons.html"} Button sets
      %li
        %a.active{:href => "ui_grid.html"} Grid
      %li
        %a{:href => "ui_custom.html"} Custom elements
  %li
    %a.exp{:href => "forms.html", :title => ""} Forms stuff
    %ul
      %li
        %a{:href => "forms.html"} Inputs & elements
      %li
        %a{:href => "form_validation.html"} Validation
      %li
        %a{:href => "form_editor.html"} File uploads & editor
      %li
        %a{:href => "form_wizards.html"} Form wizards
  %li
    %a{:href => "messages.html", :title => ""} Messages
  %li
    %a{:href => "statistics.html", :title => ""} Statistics
  %li
    %a.exp{:href => "tables.html", :title => ""} Tables
    %ul
      %li
        %a{:href => "tables.html"} Standard tables
      %li
        %a{:href => "tables_dynamic.html"} Dynamic tables
      %li
        %a{:href => "tables_control.html"} Tables with control
      %li
        %a{:href => "tables_sortable.html"} Sortable & resizable
  %li
    %a.exp{:href => "other_calendar.html", :title => ""} Other pages
    %ul
      %li
        %a{:href => "other_calendar.html"} Calendar
      %li
        %a{:href => "other_gallery.html"} Images gallery
      %li
        %a{:href => "other_file_manager.html"} File manager
      %li
        %a{:href => "other_404.html"} Sample error page
      %li
        %a{:href => "other_typography.html"} Typography