/ Bread crumbs
.breadLine
  .bc
    %ul#breadcrumbs.breadcrumbs
      %li
        %a{href: "#dashboard"} Dashboard
    -#  %li
    -#    %a{:href => "#"} UI elements
    -#    %ul{:style => "display: none;"}
    -#      %li
    -#        %a{:href => "ui.html", :title => ""} General elements
    -#      %li
    -#        %a{:href => "ui_icons.html", :title => ""} Icons
    -#      %li
    -#        %a{:href => "ui_buttons.html", :title => ""} Button sets
    -#      %li
    -#        %a{:href => "ui_custom.html", :title => ""} Custom elements
    -#  %li.current
    -#    %a{:href => "ui_grid.html", :title => ""} Grid
  .breadLinks
    -#%ul
    -#  %li
    -#    %a{:href => "#", :title => ""}
    -#      %i.icos-list
    -#      %span Orders
    -#      %strong (+58)
    -#  %li
    -#    %a{:href => "#", :title => ""}
    -#      %i.icos-check
    -#      %span Tasks
    -#      %strong (+12)
    -#  %li.has
    -#    %a{:title => ""}
    -#      %i.icos-money3
    -#      %span Invoices
    -#      %span
    -#        %img{:alt => "", :src => "/assets/elements/control/hasddArrow.png"}/
    -#    %ul
    -#      %li
    -#        %a{:href => "#", :title => ""}
    -#          %span.icos-add>
    -#          New invoice
    -#      %li
    -#        %a{:href => "#", :title => ""}
    -#          %span.icos-archive>
    -#          History
    -#      %li.noBorderB
    -#        %a{:href => "#", :title => ""}
    -#          %span.icos-printer>
    -#          Print invoices