/ Today statistic
%ul.quickStats
  %li
    %a.redImg{href: admin_users_path}
      %img{src:'/assets/sap_backend/icons/quickstats/user.png'}/
    .floatR
      %strong.blue= Sap::User.count
      %span= t('sap.backend.views.layout.stat.users')
  %li
    %a.greenImg{href: admin_orders_path}
      %img{src: '/assets/sap_backend/icons/quickstats/money.png'}/
    .floatR
      %strong.blue= Sap::Order.count
      %span= t('sap.backend.views.layout.stat.orders')