/* # Top part
================================================== */

#top {
  background: image-url('sap_backend/backgrounds/top.jpg') repeat-x 0 0;
  height: 48px;
  display: block;
  width: 100%;
  position: absolute;
  z-index: 10000;
  border-bottom: 1px solid #1c1c1c;
}

.logo {
  float: left;
  margin-top: 10px;
}

.topNav {
  float: right;
  position: relative;
}

.topSearch input[type=submit], .userSearch input[type=submit] {
  background: image-url('sap_backend/sprites/sprite.png');
}

/*=== User navigation ===*/

#sidebar ul.userNav {
  display: none;
}

ul.userNav {
  float: left;
  margin: 10px 0 0 0;
  li {
    display: inline-block;
    margin: 0 0 0 10px;
    background: #262626;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 1px 0 #4e4e4e;
    -webkit-box-shadow: 0 1px 0 #4e4e4e;
    -moz-box-shadow: 0 1px 0 #4e4e4e;
    &:hover {
      background-color: #282828;
    }
    &:active {
      background-color: #242424;
    }
    a {
      display: block;
      height: 28px;
      width: 28px;
      &.screen {
        background: image-url('sap_backend/icons/usernav/screen.png') no-repeat 9px 9px;
      }
      &.settings {
        background: image-url('sap_backend/icons/usernav/settings.png') no-repeat 9px 9px;
      }
      &.profile {
        background: image-url('sap_backend/icons/usernav/profile.png') no-repeat 9px 9px;
      }
      &.messages {
        background: image-url('sap_backend/icons/usernav/messages.png') no-repeat 9px 10px;
      }
      &.logout {
        background: image-url('sap_backend/icons/usernav/logout.png') no-repeat 9px 9px;
      }
      &.search {
        background: image-url('sap_backend/icons/usernav/search.png') no-repeat 9px 9px;
      }
      &.sidebar {
        background: image-url('sap_backend/icons/usernav/sidebar.png') no-repeat 9px 9px;
      }
    }
  }
}

/* === Search === */

.topSearch {
  position: absolute;
  display: none;
  right: 30px;
  top: 58px;
  background: image-url('sap_backend/backgrounds/sidebar.jpg');
  padding: 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  input {
    &[type=text] {
      background: #2c2c2c;
      padding: 6px 8px 7px 8px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      color: #9d9d9d;
      width: 180px;
      box-shadow: 0 1px 1px #1c1c1c inset, 0 1px 1px #454545;
      -webkit-box-shadow: 0 1px 1px #1c1c1c inset, 0 1px 1px #454545;
      -moz-box-shadow: 0 1px 1px #1c1c1c inset, 0 1px 1px #454545;
    }
    &[type=submit] {
      background-position: 0 0;
      width: 19px;
      height: 20px;
      position: absolute;
      right: 14px;
      top: 14px;
      &:hover {
        background-position: 0 -21px;
      }
      &:active {
        background-position: 0 -42px;
      }
    }
  }
}

.topDropArrow {
  background: image-url('sap_backend/elements/other/dropTopArrow.png') no-repeat;
  width: 13px;
  height: 6px;
  position: absolute;
  left: 50%;
  top: -6px;
  margin-left: -6px;
  display: block;
}

/* === User search (responsive) === */

.userSearch {
  display: none;
  position: relative;
  margin: 16px 16px 16px 0;
  input {
    &[type=text] {
      background: #2c2c2c;
      padding: 6px 8px 7px 8px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      height: 27px;
      color: #9d9d9d;
      width: 100%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-shadow: 0 1px 1px #1c1c1c inset, 0 1px 1px #454545;
      -webkit-box-shadow: 0 1px 1px #1c1c1c inset, 0 1px 1px #454545;
      -moz-box-shadow: 0 1px 1px #1c1c1c inset, 0 1px 1px #454545;
    }
    &[type=submit] {
      background-position: 0 0;
      width: 19px;
      height: 20px;
      position: absolute;
      right: 4px;
      top: 4px;
      &:hover {
        background-position: 0 -21px;
      }
      &:active {
        background-position: 0 -42px;
      }
    }
  }
}