/* Table of Content
==================================================
	# General styles
	# Typography
	# Top part
	# Sidebar stuff
	# Content stuff
	# Form styles
	# Tables
	# Invoice template
==================================================*/

select {
  height: 28px;
  width: auto;
  border: 1px solid #ccc;
}

.secNav {
  select {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }
  .select2-container .select2-choice, .selector {
    border-color: #c8c8c8;
  }
  .select2-container {
    width: 100%!important;
    max-width: 100%;
  }
}

.jqstooltip {
  z-index: 10001;
  border: 1px solid #303030!important;
  box-shadow: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

/* # General styles
================================================== */

html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: image-url('sap_backend/backgrounds/body.jpg');
  font-size: 12px;
  line-height: 22px;
  color: #5f5f5f;
  min-height: 100%;
  position: relative;
}

#page {
  padding-top: 55px;
}

#content {
  padding-bottom: 60px;
  position: relative;
  margin-left: 100px;
  padding-top: 49px;
}

.wrapper {
  margin: 0 22px;
}

.clear {
  clear: both;
  display: block;
}

.mfix {
  margin: 0 2px!important;
}

.hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

a {
  cursor: pointer;
}

p {
  padding-top: 12px;
}

img {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.inactive {
  color: #2B6893!important;
}

.noBorderB {
  border-bottom: none!important;
}

.nobg {
  background: none!important;
}

.nomargin {
  margin: 0!important;
}

.nopadding {
  padding: 0!important;
}

.displayNone {
  display: none;
}

.display {
  display: block!important;
}

.fullwidth {
  width: 100%;
}

.thisRow {
  background: #f3f3e8!important;
}

.hand {
  cursor: pointer;
}

.floatL {
  display: block;
  float: left;
}

.floatR {
  display: block;
  float: right;
}

.legendLabel span {
  display: block;
  margin: 0 5px;
}

.legendColorBox {
  padding-left: 10px;
}

button {
  cursor: pointer;
}

input {
  &[type=submit], &[type=image], &[type=reset] {
    cursor: pointer;
  }
}

.with {
  width: 326px;
}

.without {
  width: 100px;
}

.tooltip {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  color: #fff;
  font-size: 11px;
  padding: 3px 8px;
  background: #3b3b3b;
  background: -moz-linear-gradient(top, #3b3b3b 0%, #1d1d1d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b3b3b), color-stop(100%, #1d1d1d));
  background: -webkit-linear-gradient(top, #3b3b3b 0%, #1d1d1d 100%);
  background: -o-linear-gradient(top, #3b3b3b 0%, #1d1d1d 100%);
  background: -ms-linear-gradient(top, #3b3b3b 0%, #1d1d1d 100%);
  background: linear-gradient(top, #3b3b3b 0%, #1d1d1d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b3b3b', endColorstr='#1d1d1d',GradientType=0 );
}