/ Sidebar
#sidebar
  .mainNav
    .user
      %a.leftUserDrop
        %img{src: '/assets/sap_backend/user.png'}/
        %span
          %strong 666
      %span= current_user.login
      %ul.leftUser
        %li
          %a.sProfile My profile
        %li
          %a.sMessages Messages
        %li
          %a.sSettings Settings
        %li
          %a.sLogout Logout
    #side-region