/ Today statistic
%ul.quickStats
  %li
    %a.redImg{href: admin_users_path}
      %img{src:'/assets/sap/backend/icons/quickstats/user.png'}/
    .floatR
      %strong.blue 4658
      %span= t('sap.backend.views.layout.stat.users')
  %li
    %a.greenImg{href: admin_orders_path}
      %img{src: '/assets/sap/backend/icons/quickstats/money.png'}/
    .floatR
      %strong.blue 1289
      %span= t('sap.backend.views.layout.stat.orders')