/ Today statistic
%ul.quickStats
  %li
    %a.blueImg{:href => ""}
      %img{:alt => "", :src => "/assets/icons/quickstats/plus.png"}/
    .floatR
      %strong.blue 5489
      %span visits
  %li
    %a.redImg{:href => ""}
      %img{:alt => "", :src => "/assets/icons/quickstats/user.png"}/
    .floatR
      %strong.blue 4658
      %span users
  %li
    %a.greenImg{:href => ""}
      %img{:alt => "", :src => "/assets/icons/quickstats/money.png"}/
    .floatR
      %strong.blue 1289
      %span orders